
*.bak
*.qmsg
*.qpf
*.qsf
*.summary
*.rpt
*.done
incremental_db/README
*.kpt
*.hdb
*.sig
*.hb_info
*.cdb
*.dpi
*.db_info
*.json
*.tmw_info
*.ddb
*.txt
*.sci
*.flock
*.logdb
*.rdb
*.bpm
*.ammdb
*.html
*.hif
*.hier_info
*.xml
